@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(128, 128, 128, 0.529);
    font-family: 'Vina Sans', sans-serif;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

img {
    max-width: 100%;
    display: block;
    transition: all .3s ease-in-out
    
}
.gallery {
    width: 60rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    background-color: white;
    justify-content: space-between;
    padding: 0.5em;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
}

.gallery .image {
    flex-basis: calc(25% - .5em);
    position: relative;
    overflow: hidden;
}

.gallery a {
    text-decoration: none;
}

.gallery p {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    text-transform: uppercase;
    padding: 1em;
    letter-spacing: 2px;
    font-size: .75em;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .5;
    transform: translateY(100%);
    transition: all .3s ease-in-out;
}

.image:hover p {
    transform: translateY(0);
    opacity: 1;
}

.image:hover img {
    transform: scale(1.2);
}

.image::after {
    content: "";
    position: absolute;
    background-color: white;
    inset: 0;
    opacity: .5;
    pointer-events: none;
    transition: opacity .5s ease-in-out;
}

.image:hover::after {
    opacity: 0;
    
}

